doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Spready | Movies and series recommendations from people you love
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='css/style.css')
    script(src='https://use.fontawesome.com/3c75be1118.js')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    base(href="/")
  body(ng-app='spreadyApp', ng-controller='mainCtrl', ng-class="{'noscroll': overlay}")
    //
      .alert.alert-warning(role='alert', ng-show='user.activated == false')
        | Please check your email to verify your account 
        button.btn.btn-primary 
         a(href="/activate/resend") Re-send email
    .overlay500.preLoader(ng-hide='loaded')
      .loaderBox
        img.biglogo(src='img/biglogo.png')
        img.loader(src='img/loader.gif')
    alert
    choose-list
    choose-conversation
    new-list
    list-of-users
    list-of-lists
    div(ng-show='never')
      feed
      search
      spreadyLists
      me
    ui-view
    div(ng-show='interface.listContent')
      list-content
    div(ng-show='interface.movieContent')
      movie-content
    div(ng-show='interface.profile')
      profile
    div(ng-show='interface.messageContent')
      message-content
    div(ng-show="interface.singleFact")
      single-fact
    script(src='/socket.io/socket.io.js' type='text/javascript', charset='utf-8')
    script(src='http://code.jquery.com/jquery-1.11.0.min.js', type='text/javascript', charset='utf-8')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src='/scripts/vendor.bundle.js')
    script(src='/scripts/todo.bundle.js')